.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits__items {
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  min-height: 120px;
  margin-bottom: 20px;

  background-color: $bcg-color-button;
  border-radius: 4px;
}

.benefits__title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $p-color;
}
