.hero {
  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  text-align: center;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: $bcg-color-hero;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  @media screen and (max-width: 767px) {
    width: 100%;
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and (min-width: 768px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $primary-white-color;
}

.btn--main {
  min-width: 200px;
  padding: 10px 0;
}
