.team {
  padding: 60px 0;

  background-color: $bcg-color-button;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.team__title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__items {
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: $main-font-size;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text {
  font-size: $main-font-size;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: $p-color;
}

.team__block {
  padding: 30px 0;
}

.team__social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  & .link:hover,
  & .link:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.team__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $svg-color;

  transition: color $duration-timing-function,
    background-color $duration-timing-function;
}

.team__icons {
  fill: currentColor;
}
