.page-header {
  @media screen and (max-width: 767px) {
    padding: 16px 15px;
  }

  display: flex;
  align-items: center;
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $logo-header-color;
}

.logo__word {
  color: $accent-color;
}

.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  &__link:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  position: relative;

  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $text-color;

  transition: color $duration-timing-function;
  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.site-nav__link .site-nav__link--current {
  color: $accent-color;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;

    border-radius: 2px;
    background-color: $accent-color;
  }
}

.communication {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  margin-left: auto;
}

.communication .link {
  display: block;

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $tel-mail-color;

  transition: color $duration-timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.tel-communication__icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
    vertical-align: middle;
    width: 14px;
    height: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    vertical-align: middle;
    width: 16px;
    height: 12px;
  }
}

.letter-communication__icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
    vertical-align: middle;
    width: 10px;
    height: 14px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    vertical-align: middle;
    width: 10px;
    height: 16px;
  }
}

.link .tel-communication__icon,
.link .letter-communication__icon {
  fill: currentColor;
}
