.page-header {
  @media screen and (max-width: 767px) {
    padding: 16px 15px;
  }

  @media screen and (min-width: 768px) {
    padding: 26px 15px;
  }

  display: flex;
  align-items: center;
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $logo-header-color;
}

.logo__word {
  color: $accent-color;
}

.site-nav {
  display: none;
  margin-left: 93px;
  &__link:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  position: relative;

  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $text-color;

  transition: color $duration-timing-function;
  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.site-nav__link .site-nav__link--current {
  color: $accent-color;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;

    border-radius: 2px;
    background-color: $accent-color;
  }
}

.communication {
  display: none;
  margin-left: auto;
  gap: 30px;
}

.communication .link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $tel-mail-color;

  transition: color $duration-timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.communication__icon {
  margin-right: 10px;
  vertical-align: middle;
}

.link .communication__icon {
  fill: currentColor;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;

  padding: 33px 25px;

  width: 100vw;
  height: 100vh;
  background-color: $primary-white-color;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.header-icon {
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.mob-nav {
  margin-bottom: 30px;
}
.mob-nav__link .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $text-color;

  transition: color $duration-timing-function;
  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.mob-nav__link:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link .mob-nav__link--current {
  color: $accent-color;
}

.communication-mob {
  margin-bottom: 64px;
}

.communication-mob li {
  margin-bottom: 32px;
}

.communication-mob .link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $tel-mail-color;

  transition: color $duration-timing-function;
  &:hover,
  &:focus {
    font-size: 34px;
    line-height: 1.17;
    color: $accent-color;
  }
}

.menu-open {
  @media screen and (max-width: 767px) {
    background-color: transparent;
    border-color: transparent;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close {
  position: fixed;
  top: 10px;
  right: 15px;
  @media screen and (max-width: 767px) {
    background-color: transparent;
    border-color: transparent;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
